#sport {
  margin-top: 150px;
}
.post2 {
  color: gray;
  font-size: 14px;
  margin-bottom: 40px;
  font-family: Libre Franklin;
}
.sport {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.sport-card img {
  width: 630px;
}

.sport-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sport-card p {
  color: gray;
  font-family: Libre Franklin;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1px;
}

.sport-card h2 {
  font-family: Tenor Sans;
  font-weight: 200;
  font-size: 29px;
}

.sport-card h4 {
  font-family: Libre Franklin;
  font-weight: 900;
}

.sport2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  margin-top: 55px;
}
